* {
    font-family: 'Shadows Into Light Two', cursive, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-image: url(images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.todo-container {
    margin: 0 auto;
    padding: 10px;
    width: 50%;
}

.header {
    min-height: 45px;
    width: 380px;
    height: 45px;
    background-size: 100% 200%;
    background-image: url(images/header.jpg);
    border-style: solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.header i {
    width: 60px;
    height: 60px;
    margin-left: 60px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.add-todo {
    width: 100%;
    height: 100%;
}

.add-todo #submitBtn {
    font-size: 20px;
    margin-left: 280px;
    width: 90px;
    position: absolute;
}

.add-todo #submitBtn:hover {
    cursor: pointer;
    text-shadow: 1px 3px 5px red;
    transform: rotate(20deg);
}

.header i {
    font-size: 25px;
    margin-top: 10px;
}

.header i.fa-sync {
    bottom: 25px;
    color: black;
}

.header i:hover {
    cursor: pointer;
    text-shadow: 1px 3px 5px yellowgreen;
    transform: rotate(45deg);
}

.content {
    width: 380px;
    position: center;
    left: 10px;
}

.content ul {
    padding: 0;
    margin: 0;
}

.item {
    width: 380px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid black;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
}

.add-todo {
    position: relative;
    width: 360px;
    height: 40px;
    background-color: white;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-style: solid;
}

.add-todo i {
    font-size: 40px;
    color: #4162f6;
    margin-bottom: 15px;
}

.add-todo input {
    left: 20px;
    height: 25px;
    width: 300px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Shadows Into Light Two', cursive, sans-serif;
    font-weight: bold;
}

.item i.fa-trash {
    font-size: 25px;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.746);
    margin-right: 10px;
    margin-top: 8px;
}

.item i.fa-trash:hover {
    cursor: pointer;
    text-shadow: 1px 3px 5px black;
    transform: rotate(50deg);
}

.item i.fa-circle {
    /* position: absolute; */
    font-size: 25px;
    padding-left: 5px;
    left: 5px;
    top: 55px;
}

.item i.fa-circle:hover {
    cursor: pointer;
    text-shadow: 1px 3px 5px red;
    transform: rotate(50deg);
}

.description {
    margin-left: 20px;
}