* {
    font-family: 'Indie Flower', cursive;
    font-size: 1.05em;
}



body {
    padding: 0.4em;
    margin: 0;
    width: 98vw;
    font-weight: bold;
    background-image: url(images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
    
}

.todo-container {
    margin: 0 auto;
    padding: 10px;
    width: 98vw;
}

.header {
    min-height: 45px;
    width: 98vw;
    height: 1rem;
    background-size: 100% 200%;
    background-image: url(images/header.jpg);
    border-style: solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-around;
}

.header i {

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.add-todo {
    width: 98vw;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.add-todo #submitBtn {
    font-size: 1.5em;
    width: 150px;
 
}

.add-todo #submitBtn:hover {
    cursor: pointer;
    text-shadow: 1px 3px 5px red;
    transform: rotate(20deg);
}

.header i {
    font-size: 25px;
    margin-top: 10px;

}

.header i.fa-sync {
    bottom: 25px;
    color: black;
}

.header i:hover {
    cursor: pointer;
    text-shadow: 1px 3px 5px yellowgreen;
    transform: rotate(45deg);
}

.content {
    width: 98vw;
    display: flex;
    justify-content: center;
}

.content ul {
    padding: 0;
    margin: 0;
}

.item {
    width: 90vw;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid black;
    list-style: none;
    padding: 4px;
    margin-top: 10px;
    display: flex;
    text-align: center;
}

.add-todo {
    position: relative;
    width: 95vw;
    height: 40px;
    background-color: white;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-style: solid;
}

.add-todo i {
    font-size: 40px;
    color: #4162f6;
    margin-bottom: 15px;
}

.add-todo input {
    left: 20px;
    height: 1.2em;
    width: 70vw;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Shadows Into Light Two', cursive, sans-serif;
    font-weight: bold;
}

.item i.fa-trash {
    font-size: 25px;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.746);
    margin-right: 10px;
    
}

.item i.fa-trash:hover {
    cursor: pointer;
    text-shadow: 1px 3px 5px black;
    transform: rotate(50deg);
}

.item i.fa-circle {
    font-size: 25px;
    padding-left: 5px;
    left: 5px;
    top: 55px;
}

.item i.fa-circle:hover {
    cursor: pointer;
    text-shadow: 1px 3px 5px red;
    transform: rotate(50deg);
}

.description {
    margin-left: 0.5em;
}